.general{
    display: flex;
    justify-content: center;
}

.laders{
  width:180px;
}

.Mensaje{
  max-width: 420px;
}

.laders2{
  width:100px;
  SIZE:25;
}

.Seleccion{
  width: 260px;
  height: 25px;
}

